<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>YOBS</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>YOBS</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>YOBS necesita acceso a tu ubicación para mostrarte profesionales cercanos a ti.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>YOBS necesita acceso continuo a tu ubicación para actualizaciones en tiempo real de profesionales cercanos.</string>
	<key>NSCameraUsageDescription</key>
	<string>YOBS necesita acceso a la cámara para tomar fotos de tu perfil o enviar imágenes en los chats de servicio.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>YOBS necesita acceso a tu galería de fotos para que puedas subir imágenes a tu perfil o en los chats.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>YOBS necesita acceso al micrófono para mensajes de voz en los chats con profesionales.</string>
	<key>NSContactsUsageDescription</key>
	<string>YOBS puede acceder a tus contactos para facilitarte invitar a amigos a la plataforma.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>YOBS usa Face ID para un inicio de sesión más rápido y seguro en tu cuenta.</string>
</dict>
</plist>
